<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    
    <!-- TITLE -->
    <div class="form-floating">
      <input type="text" class="form-control" name="post-title" placeholder="Title" />
      <label for="post-title">Title</label>
    </div>

    <br>
    <br>

    <!-- CONTENT -->
    <div class="form-floating">
      <textarea type="text" class="form-control" name="post-body" placeholder="Blog Content" rows="10"></textarea>
      <label for="post-body">Blog Content</label>
    </div>

    <br>
    <br>

    <button type="submit" class="w-100 btn btn-primary btn-lg">Create</button>

  </form>
</div>

<script src="/javascript/new.js"></script>